*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
html{
    font-size: 65.2%;
}

main {
    user-select: none;
    padding-top: 30px;
}

header > span{
    font-size: 1.8rem;
    font-weight: 600;
    color: #6b778c;
    letter-spacing: 0.08rem;
    margin-left: 30px;
}

header > h1 {
    color: #182b4d;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 30px;
}

.main-columns {
    display: flex;
    gap: 15px;
    margin-top: 50px ;
    background-color: #5a79a1;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    height: 700px;
    flex-grow: 1;
}

.columns-column {
    width: 100%;
    min-width: 400px;
    background-color: #f4f5f7;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 24px;
    scrollbar-color: #888 #00000000;
    scrollbar-width: thin;
}

.column__title{
    color: #4d5c76;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 20px;
    text-transform: uppercase;
}

.column__cards{
    padding: 4px;
    height: 100%;
    border-radius: 2.4rem;
}

.card{
    width: 100%;
    min-height: 70px;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0px 15px 10px -10px rgb(165, 165, 165);
    padding: 12px;
    font-size: 1.6rem;
    color: #6b778c;
    margin: 15px 0;
    transition: all 0.2s; border-left: 5px solid transparent;
    display: flex;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
}

.card__text{
    width: 150px;
}

.card__header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.column--highlight {
    background-color: #deebff;
    border: 2px solid #2482ff;
}

.card__atividade{
    display: flex;
    justify-content: space-between;

}

.card__importancia{
    background-color: transparent;
    text-align: center;
    border: none;
    border-bottom: #deebff;
    font-size: 1.2em;
}

.card__importancia:focus{
    border: none;
}

.baixa {
    background-color: #2ecc71;
    color: black;
    .card__importancia{
        color: rgb(99, 99, 99);
    }
} /* Verde */

.media {
    background-color: #f1c40f;
    color: black;
    .card__importancia{
        color: rgb(99, 99, 99);
    }
}
.alta {
    background-color: #e74c3c;
    color: white;
    .card__importancia{
        color: white;
    }
}

.card__taxado { 
    text-decoration: line-through; 
    opacity: 0.6; 
    background-color: #f4f4f4;
    color: #6b778c;
    .card__importancia{
        color: #6b778c;
    }
}

@media (max-width: 600px) {
    .main-columns {
    margin-top: 20px;
}
}